nav{
    color: white;

    .entete-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            margin: 1rem;
        }

        .liens{
            display: flex;
            flex-direction: row;
            margin-right: 2rem;
            font-family: Montserrat;
            font-size: 1.2rem;
            

            .lien{
                list-style: none;
                margin-left: 2rem;
                cursor: pointer;
            }
        }
    }
}