.presentation{
    height: 90vh;
    display: flex;
    align-items: center;
    

    article{
        color: white;
        font-family: K2D;
        
        .partie{
            width: fit-content;
            color: #FFFFFF40;
            margin-bottom: 0;
            font-style: italic;
        }

        .titre{
            font-size: 5rem;
            margin-top: 0;
            font-style: italic;
        }

        .texte{
            margin-top: 0;
            font-size: 2rem;
            width: 40vw;
            height: 521px;
        }
    }
}

