@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    //background-color: rgb(63, 21, 21);
    background-color: #6f1d1b;

    .section-ring{
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        justify-content: space-around;
        align-items: center;


        .doigt{
            font-size: 6rem;
            position: absolute;
            left: 71%;
            bottom:15%;
            color: rgba(255, 255, 255, 0.24);
            z-index: 9998;
            animation-name: anim-doigt;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }


        
    }
}

@keyframes anim-doigt {
    from{left: 65%;
    opacity: 1;}
    to{left: 80%;
    opacity: 0;}
}

@keyframes anim-debut {
    
}

